.firstgif{
  display:grid;
  place-items: center;
}

body{
  background-color: rgb(166, 77, 255);
}

h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  top: 20px;
  margin:auto;
  width: 50%;
  padding: 10px;
  font-size: large;
  font-weight: bold;
}


.que{
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   color: rgb(255, 255, 255);
   top: 20px;
   margin:auto;
   width: 50%;
   padding: 10px;
   font-size: large;
   font-weight: bold;
}

.yes{
  position: absolute;
  padding: 15px 20px;
  top: 75%;
  left: 30%;
  background-color: rgb(150, 255, 112);
  border-color: rgb(240, 248, 255);
  color: white;
  font-size: 25px;


}
.no{
  position: absolute;
  padding: 15px 20px;
  top: 75%;
  right: 30%;
  background-color: rgb(255, 112, 112);
  border-color: rgb(240, 248, 255);
  color: white;
  font-size: 25px;
}
